<div class="container-fluid pt-10 flex gap-3 mb-10">
    <div class="bg-green-500 h-44 w-96 rounded-lg overflow-hidden cursor-pointer">
        <img src="../../../assets/banner1.jpg" alt="">
    </div>
    <div class="bg-green-500 h-44 w-96 rounded-lg overflow-hidden cursor-pointer">
        <img src="../../../assets/banner2.jpg" alt="">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-xl font-semibold">
                Restaurantes
            </h1>
        </div>

        <div class="col-md-12">
            <app-store-list></app-store-list>
        </div>
    </div>
</div>
