<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="h-36 w-80 rounded-md border border-transparent hover:border-slate-300 flex gap-4 p-4 cursor-pointer" [routerLink]="'/delivery/store/26eede04-396e-4673-a6d6-c2a6e0384ed0'">
                <div class="flex h-full items-center">
                    <div class="h-24 w-24 mr-3">
                        <img class="h-full" src="../../../assets/lulu.jpg" alt="">
                    </div>
                </div>
                <div class="flex flex-column justify-around">
                    <span class="font-semibold">Hamburgueria da Lulu</span>
                    <div class="text-sm font-light">
                        <span>
                            <i class="fa-regular fa-star"></i> 4.5
                        </span> - <span>1.6 km</span>
                    </div>
                    <div class="text-sm font-light">
                        <span>41-51 min</span> - <span>R$6.00</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>